<a routerLink="/books" class="btn btn-outline-primary mt-4">
  ← Back to list
</a>


@if (book) {
  <h2>Book details</h2>
  <div class="card">
    <div class="card-body">
    <h2 class="card-title">{{ book.title }}</h2>
    <h6 class="card-subtitle mb-2 text-muted">{{ book.author }}</h6>
    <h6 class="card-subtitle mb-2 text-muted"><strong>Year:</strong> {{ book.year }}</h6>
    <p class="card-text">
      {{ book.description }}
    </p>
  </div>
</div>
<h3>Reviews</h3>
@if(reviews && reviews.length > 0) {
  <div *ngFor="let review of reviews">
    <bs-review [review]="review"></bs-review>
  </div>
} @else {
  <div class="alert alert-warning" role="alert">
    <strong>No reviews yet</strong>
  </div>
}
} @else {
  <ng-template>
    <h2>Book not found</h2>
  </ng-template>
}


